.timeChart {
    float:left;
    padding: 0px 0px 5px 5px;    
}

rect.backgroundTimeSeries { /*For the rect handling mouseover events*/
    fill:none;
}
 
.areaPlot {
  fill: rgba(50,50,200,0.2);
}
 
.linePlot {
  fill: none;
  stroke: rgba(0,200,200,0.8);
  stroke-width: 3px;
}

.line {/*This removes the ugly border*/
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.plotTitle {
  font-size: 12px;
}

.grid line { /*For the axis to look nice*/
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.hidden {
  display:none;
  opacity: 0.0;
}

circle.timeSeriesCircle {
    fill: steelblue;
}

text.timeSeriesCaption {
    color: rgba(255,150,150,1);
}